.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background-image: url('https://mdn.alipayobjects.com/yuyan_qk0oxh/afts/img/V-_oS6r-i7wAAAAAAAAAAAAAFl94AQBr');
  background-size: cover;
  background-position: center;
}

.prefixIcon {
  color: rgba(0, 0, 0, 0.25);
}

.loginOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.forgotPassword {
  float: right;
  color: #1890ff;
  cursor: pointer;
}

.forgotPassword:hover {
  color: #40a9ff;
}
